
body{
    background:pink;
}
.superCounter{
    margin:90px;
    margin-top: 150px;
}
.superCounter div{
    display:inline-block;
    font-size:55px;
    line-height:55px;
    background:white;
    color:rgb(205, 205, 205);
    border-radius: 15px;
    width:100px;
    margin:20px;
    text-align: center; 
    font-family: "Times New Roman", Times, serif;
}
.iconCounter{
    font-size: 55px;
    line-height: 55px;
    background: white;
    color:rgb(205, 205, 205);
}